/* Optional 
*{
    margin: 0px;
    padding: 0px;
}
*/


a{
    text-decoration: none;
    color:#000
}

a:hover{
    color:red;
}
a:active{
    color:green;
}
/* Optional, which shows a link has been clicked
a:visited {
    color:blue;
} */
.button {
    background-color:#333;
    color:#fff;
    padding:10px 15px; 
    border:none;
    border-radius:10px
}

body{
    background-color: #f4f4f4;
    color: red;
    
    font-family: Verdana, Tahoma, sans-serif;
    font-size:16px;
    /* Same as above */
    font: normal 16px Arial, Helvetica, sans-serif;
    margin: 0;
    Line-height: 1.6em;

}

.containter {
    width: 80%; /* Pixels make it not responsive and adaptive */
    margin:auto;

}

.box-1{ 
    background-color: #333;
    color: white;
    border-right:5px red solid;
    border-left:5px blue solid;
    border-bottom:5px green solid;
    border-top: 5px yellow solid;

    border-radius:10px;

    padding: 20px;
    margin: 20px 0;
}

.box-1 h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 1000;
    font-style:italic;
    text-decoration:underline;
    text-transform:uppercase;
    letter-spacing: .1em;
    word-spacing: 1em
}

.box-2{ 
    border:3px dotted #ccc;
    padding:20px;
    margin:20px 0;

}

.categories{
    border:1px #ccc solid;
    padding: 10px;
    border-radius: 15px;
}

.categories h2{
    text-align:center;
}

.categories u1{
    padding: 0;
    list-style:square;

}

.categories li{
    padding-bottom:6px;
    border-bottom:dotted 1px #333;
    /*optional. but cool
    list-style-image: url('../images/check.png'; */
}

.my-form{
    padding:20px;
}
.my-form .form-group{
    padding-bottom:15px;
}

.my-form .form-group label{
    display:block;
}

.my-form input[type="text"]{
    border-radius: 10px;
    border-width: 5px;
    border-color: red;
    padding: 8px;
    width: 100%
}

.block{
    float:left;
    width:33.3%;
    border: 1px solid #ccc;
    padding:10px;
    /*Needed if you change the border or the padding*/
    box-sizing:border-box;
}

#main-block{
    float:left;
    width: 70%;
    padding: 15px;
    box-sizing: border-box;

}

#sidebar{
    float:right;
    width:30%;
    background-color: #333;
    color: #fff;
    padding: 15px;
    /*Needed if you change the border or the padding*/
    box-sizing: border-box;
}

.p-box{
    width:80%;
    height:500px;
    border: 10px solid purple;
    position: relative;
    margin-top: 75px;
    
    color: #333;
    background-position:100px 200px;
    background-repeat: no-repeat;
    background-position:center top;
;

}

.p-box h1{
    /* This will bring it ALL THE WAY to the top position:absolute; */
    position:absolute;
    top:100px;
    left:200px;
}

.p-box h2{
    position:absolute;
    bottom:40px;
    right:100px;
}

.fix-me{
    position:fixed;
    /*This can be useful*/
    top:400px;
    margin-left:2px;
}

.my-list li:first-child{
    background: red;
}
.my-list li:last-child{
    background: yellow;
}

.my-list li:nth-child(4){
    background:purple;
}

.my-list li:nth-child(even){
    background: green;
}

@media(max-width:600px){
    #main-block{
        width: 100%;
        float:none;
    }
    #sidebar{
        width: 100%;
        float:none;
    }
}


